# Configuración de Base de Datos
DB_URL=jdbc:postgresql://vivero-db:5432/vivero_db?serverTimezone=UTC
DB_USER=admin
DB_PASS=root
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=vivero_db

# Configuración de JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000
